
footer{
    background-image: url('/images/bb.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 30vh;
    border-top: 2px solid rgb(252, 248, 248);
    color: wheat;
}
footer div{
    width: 34%;
    /* border: 2px solid red; */
}

li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
ul{
    margin-top: 2vh;
    margin-left: 1vh;
}

.div-1{
    border-right: 1px solid white;
    background-color: #46285A;

}
.div-2{
    border-right: 1px solid rgb(255, 255, 255);
    background-color: #46285A;

    /* border: 2px solid red; */

}
.div-3{
    border-right: 1px solid rgb(255, 255, 255);
    background-color: #46285A;

}
.div-1 h1{
    text-align: center;
    background-color: #46285A;
    margin: 0%;
    padding: 2%;
    font-size: large;
    color: #FFFFFF;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.div-2 h1{
    text-align: center;
    background-color: #46285A;
    margin: 0%;
    padding: 2%;
    color: #FFFFFF;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.div-3 h1{
    text-align: center;
    background-color: #46285A;
    margin: 0%;
    padding: 2%;
    color: #FFFFFF;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

