
body{
    background-image: url('/images/home_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}

.main-c{
    height: 70vh;
}

.head{
    font-size: x-large;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.get-pass-form{
    margin-top: 2%;

}
.get-pass-form form{
    display: flex;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    
}
.get-pass-form form .en-email{
    width: 25%;
}