

header{
    /* background-image: #f6ff00; */
    /* height: 18vh; */
  background-color: #f6ff00;
}
                                                                    
a{
    margin: 0%;
    padding: 0%;
}

.h-links{
    /* background-color: black; */
    display: flex;
    height: 7vh;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    
}
.h-links li{
    list-style: none;
    /* border: 2px solid red; */
    width: 12%;

}

.h-links li a{
    font-size: 1.5rem;
    color: #46285A;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    /* margin-left: 5vh; */
}

.logo{
    background-color: rgb(0, 0, 0);
    border-radius: 20vh;
    border: 2px solid red;
    height: 10vh;
    width: 10vh;
    position: relative;
    bottom: 6vh;
    left: 130vh;
    
}

.logo img{
    height: 100%;
    width: 100%;
    border-radius: 20vh;
}

.active{
    background-color: #BEA1D4;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: wheat;
}
